/* General */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #F6E6C2, #d6a502);
  color: #5E4F31;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Cards */
.skill-card, .experience-card, .project-card {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #E3B23C;
  transition: 0.3s;
}
.skill-card:hover, .experience-card:hover, .project-card:hover {
  box-shadow: 0 0 15px #FFD700;
}

/* Neon Buttons */
.btn-glass {
  background: rgba(255, 255, 255, 0.3);
  color: #5E4F31;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s;
}
.btn-glass:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Modal */
.glass-modal {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 10px;
}

.collapse , .navbar-collapse,.navbar-nav,.nav-item{
  color: black;
  justify-content: center;
  text-align: center;
}